name: Build and Test

on:
  push:
    branches:
      - '**/*'
  pull_request:
    branches:
      - '**/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: ['11', '17', '21']
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'zulu'
        cache: maven

    - name: Build and Test
      run: mvn -U clean install -T1C -Dall -Djava.awt.headless=true -DskipTests=false -ntp -fae
