name: COG Integration Tests

on:
  push:
    branches:
      - '**/*'
  pull_request:
    branches:
      - '**/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  integration:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        profile: ['cog-http', 'cog-s3', 'cog-azure', 'cog-gs']
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'zulu'
        cache: maven

    - name: Build cog-reader and its dependencies
      run: mvn clean install -DskipTests -U -T1C -pl :imageio-ext-cog-reader -am -B -ntp

    - name: Run ${{ matrix.profile }} integration tests
      run: mvn -P ${{ matrix.profile }} verify -DskipTests -DskipITs=false -pl :imageio-ext-cog-reader -B -ntp
